@font-face {
    font-family: gilroy;
    src: url(../font/gilroy.ttf);
}
@font-face {
    font-family: nexa_bold;
    src: url(../font/nexa_bold.ttf);
}
@font-face {
    font-family: nexa_regular;
    src: url(../font/nexa_regular.ttf);
}

*{
    transition: all .3s;
}

body{
    margin: 0;
    padding: 0;
    font-family: "nexa_regular", sans-serif;
}
.container{
    width: 1445px;
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
.btn{
    font-family: "nexa_bold", sans-serif;
    text-transform: uppercase;
    border-radius: 50px;
    text-decoration: none;
}

header{
    background: url(../img/bg.png) no-repeat top center / cover;
    color: white;
    height: 1005px;
}
header h4{
    font-family: "gilroy", sans-serif;
    font-size: 45px;
    margin-right: 110px;
}
header nav {
    display: flex;
    padding-top: 39px;
    align-content: center;
}
ul,li{
    margin: 0;
    padding: 0;
}
ul{
    display: flex;
    width: 430px;
    justify-content: space-between;
    align-items: center;
}
li{
    display: block;
}
.d-flex{
    display: flex;
}
header a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 19px;
}
header nav a.btn{
    background: white;
    color: #6426dd;
    font-size: 16.8px;
    padding: 21px 42px;
    margin-left: 590px;
}
header .d-flex{
    margin-top: 55px;
}
header .text{
    margin-top: 170px;
    width: 622px;
    margin-right: 80px;
}
header h1{
    font-size: 87px;
    font-family: "nexa_bold",sans-serif;
    text-transform: capitalize;
    line-height: 79px;
    width: 622px;
}
header p{
    font-size: 20px;
    margin-top: 45px;
    margin-bottom: 75px;
    line-height: 36px;
}
header .d-flex .btn{
    padding: 27px 64px;
    background: #00dadc;
    color: #171718;
}
header .d-flex img{
    width: 869px;
    height: 680px;
    transform: scale(0.8);
}
section.about{
    position: relative;
}
section.about .d-flex{
    margin-top: 115px;
    position: relative;
}
section.about .d-flex img{
    height: 815px;
    margin-right: 150px;
    position: relative;
    margin-left: -75px;
}
section.about .text{
    margin-top: 150px;
}
section h5{
    font-size: 30px;
    letter-spacing: 6px;
    color: #6426dd;
    text-transform: uppercase;
}
section h2{
    font-size: 70px;
    line-height: 66px;
    letter-spacing: 0.004em;
    margin-top: 35px;
    color: #25234d;
}
section p{
    margin-top: 40px;
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 75px;
    width: 530px;
    color: #5a5878;
}
section .btn{
    background: #ffc727;
    padding: 27px 75px;
    color: #171718;
}
section.about img.elements{
    right: 0;
    top: -115px;
    position: absolute;
}
.services{
    background: url(../img/image_3screen.png) no-repeat top center / cover;
    height: 1100px;
}
.services .d-flex{
    top: 410px;
    position: relative;
    
}
.services .text{
    width: 610px;
    margin-right: 150px;
}
.services .cards{
    
    width: 550px;
    flex-wrap: wrap;
    display: grid;
    grid-gap: 150px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.card{
    width: 240px;
    height: 240px;
    box-shadow: 1px 0px 23px rgb(222, 222, 226);
    padding: 53px 30px 59px;
    
}
.card h6{
    color: #535273;
    font-size: 24px;
    margin-top: 30px;
}
.card p{
    width: 100%;
    font-size: 18px;
    color: #4e4c6f;
    line-height: 32px;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 10px;
}
.card:nth-child(2){
    top: -128px;
    position: relative;
}
.card:nth-child(3){
    top: -110px;
    position: relative;
}
.card:nth-child(4){
    top: -234px;
    position: relative;
}