@font-face {
    font-family: gilroy;
    src: url(../font/gilroy.ttf);
}
@font-face {
    font-family: nexa_bold;
    src: url(../font/nexa_bold.ttf);
}
@font-face {
    font-family: nexa_regular;
    src: url(../font/nexa_regular.ttf);
}

*{
    transition: all .3s;
}

body{
    margin: 0;
    padding: 0;
    font-family: "nexa_regular", sans-serif;
}
.container{
    width: 1445px;
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
.btn{
    font-family: "nexa_bold", sans-serif;
    text-transform: uppercase;
    border-radius: 50px;
    text-decoration: none;
}

header{
    background: url(../img/bg.png) no-repeat top center / cover;
    color: white;
    height: 1005px;
    overflow: hidden;
}
header h4{
    font-family: "gilroy", sans-serif;
    font-size: 45px;
}
header nav {
    display: flex;
    padding-top: 39px;
    align-content: center;
    justify-content: space-between;
    
}
ul,li{
    margin: 0;
    padding: 0;
}
ul{
    display: flex;
    width: 430px;
    justify-content: space-between;
    align-items: center;
}
li{
    display: block;
    position: relative;
}

header .menu_open{
    background: transparent;
    border: 0px;
    margin-left: 20px;
    display: none;
    z-index: 5;
    cursor: pointer;
}
.menu_show{
    transition: all .5s ease;
    top: 0 !important;
    z-index: 3;
}

/*hover li*/
li::before{
    content: " ";
    padding: 5px;
    background: #ffc727;
    position: absolute;
    border-radius: 10px;
    bottom: -30px;
    right: -15px;
    transition: all .3s;
    opacity: 0;
}
li:hover::before{
    transition: all .3s;
    bottom: 7px;
    opacity: 1;
}
li:hover a{
    color: #ffc727;
}
/*hover li*/

.d-flex{
    display: flex;
}
header a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 19px;
}
header nav a.btn{
    background: white;
    color: #6426dd;
    font-size: 16.8px;
    padding: 21px 42px;
}

/*hover a.btn*/
nav .btn{
    box-shadow: 0px 0px 20px #b1b1b1;
    transform: scale(1);
}
nav .btn:hover{
    background: #6426dd ;
    color: white;
    box-shadow: 0px 0px 20px #7318e9;
    transform: scale(1.02);
}
/*hover a.btn*/
header .d-flex{
    margin-top: 55px;
    justify-content: space-between;
}
header .text{
    margin-top: 170px;
    width: 622px;
    z-index: 4;
}
header h1{
    font-size: 87px;
    font-family: "nexa_bold",sans-serif;
    text-transform: capitalize;
    line-height: 79px;
    width: 622px;
}
header p{
    font-size: 20px;
    margin-top: 45px;
    margin-bottom: 75px;
    line-height: 36px;
}
header .d-flex .btn{
    padding: 27px 64px;
    background: #00dadc;
    color: #171718;
    transition: all .3s;
}
/*hover a.btn*/
header .d-flex .btn:hover{
    color: #00dadc;
    background: #171718;
}
/*hover a.btn*/
header .d-flex img{
    width: 869px;
    height: 680px;
    transform: scale(0.8);
}
.about{
    position: relative;
}
.about .d-flex{
    margin-top: 115px;
    position: relative;
}
.about .d-flex img{
    height: 815px;
    margin-right: 150px;
    position: relative;
    margin-left: -75px;
}
.about .text{
    margin-top: 150px;
}
section h5{
    font-size: 30px;
    letter-spacing: 6px;
    color: #6426dd;
    text-transform: uppercase;
}
section h2{
    font-size: 70px;
    line-height: 66px;
    letter-spacing: 0.004em;
    margin-top: 35px;
    color: #25234d;
    font-family: "nexa_bold",sans-serif;
}
section p{
    margin-top: 40px;
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 75px;
    width: 530px;
    color: #5a5878;
}
section .btn{
    transition: all .3s;
    background: #ffc727;
    padding: 27px 75px;
    color: #171718;
    transform: scale(0.9);
    border: 3px solid #ffc727;
    
}
section a.btn:hover{
    background: transparent;
    border: 3px solid rgb(14, 212, 238);
    color: rgb(14, 212, 238);
    transform: scale(1.0) !important;
}
section.about img.elements{
    right: 0;
    top: -115px;
    position: absolute;
}
.services{
    background: url(../img/image_3screen.png) no-repeat top center / cover;
    height: 1100px;
}
.services .d-flex{
    top: 410px;
    position: relative;
    
}
.services .text{
    width: 610px;
    margin-right: 150px;
}
.services .cards{
    
    width: 550px;
    flex-wrap: wrap;
    display: grid;
    grid-gap: 150px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.card{
    width: 240px;
    height: 240px;
    box-shadow: 1px 0px 23px rgb(222, 222, 226);
    padding: 53px 30px 59px;
    
}
.card h6{
    color: #535273;
    font-size: 24px;
    margin-top: 30px;
}
.card p{
    width: 100%;
    font-size: 18px;
    color: #4e4c6f;
    line-height: 32px;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 10px;
}
.card:nth-child(2){
    top: -128px;
    position: relative;
}
.card:nth-child(3){
    top: -110px;
    position: relative;
}
.card:nth-child(4){
    top: -234px;
    position: relative;
}
.feedback{
    background:url(../img/bg_4screen.png) no-repeat top center / cover;
    margin-top: 230px;
    position: relative;
    color: white;
    height: 1105px;
    z-index: 1;
}
.feedback .oval{
    position: absolute;
    top: -70px;
}
.feedback .container{
    text-align: center;
    position: relative;
}
.feedback span {
    font-size: 30px;
    font-family: "nexa_regular", sans-serif;
    letter-spacing: 6px;
    margin-top: 150px;
    display: inline-block;
    
}
.feedback h2{
    font-size: 70px;
    color: white;
    margin-top: 25px;
}
.feedback .feedback_lists{
    margin: 0px auto;
    position: relative;
    margin-top: 100px;
    width: 870px;
    height: 480px;
    z-index: 2;
    background: url(../img/Shape_4scr.png) no-repeat top center / cover;
}
.feedback .feedback_list{  
    width: 570px;  
    height: 400px;
    background: white;
    border-radius: 20px;
    margin: 0px auto;
    padding:  15px 80px;
    position: relative;
    z-index: 5;
}
.feedback .feedback_list .quote{
    position: absolute;
    margin: 0px auto;
    z-index: 1;
    right: 0;
    left: 0;
}
.feedback .feedback_list p{
    line-height: 40px ;
    z-index: 2;
    color: #6a697f;
    position: relative;
    margin: 0;
    margin-top: 65px;
    width: 550px;
    
}
.feedback .name{
    margin-top: 40px;
    color: #6427de;
    font-size: 24px;
    font-family: "nexa_bold",sans-serif;
}
.feedback .stars{
    width: 145px;
    margin: 0px auto;
    margin-top: 15px;
    justify-content: space-around;
    
}
.feedback .stars img{
    position: relative !important;
}
.feedback .arrows{
    margin: 0px auto;
    margin-top: 40px;
    width: 120px;
    justify-content: space-around;
}
.feedback .arrows .btn_arrow{
    padding: 14px 16px;
    border: 2px solid #6a697f;
    border-radius: 50px;
}
.feedback .arrows .btn_arrow:nth-child(2){
    background: #00dadc;
    border: 2px solid #00dadc;
}
.feedback_list:nth-child(2){
    opacity: 0.7;
    transform: scale(0.95);
    position: absolute;
    z-index: 4;
    right: 0;
    left: 0;
    top: 40px;
    
}
.feedback_list:nth-child(3){
    opacity: 0.4;
    transform: scale(0.9);
    position: absolute;
    right: 0;
    left: 0;
    top: 70px;
    z-index: 3;
}
.contact{
    padding-top: 100px;
    position: relative;
}
.contact .d-flex{
    position: relative;
}
.contact .oval{
    position: absolute;
    top: 0;
}
.contact .text{
    width: 585px;
    margin-right: 220px;
    margin-top: 190px;
}
.contact form{
    height: 520px;
    width: 475px;
    box-shadow: 1px 1px 25px rgb(229, 229, 236);
    border-radius: 20px;
    padding: 80px 40px;
    z-index: 6;
    background: white;
}
.contact .d-flex img{
    position: absolute;
    right: -35px;
    top: -150px;
    z-index: 7;
}
.group {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    height: 77px;
}

input,textarea {
    font-size: 20px;
    display: block;
    width: 395px;
    border: 1px solid #bbbbbb;
    color: #6422db;
    border-radius: 5px;
    padding:   30px 40px;
    height: 17px;
    font-family: "nexa_bold", sans-serif;
}
input:focus,textarea:focus {
  outline: none;
}
label {
    color: #bbbbbb;
    font-size: 19px;
    position: absolute;
    pointer-events: none;
    left: 35px;
    top: 27px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    padding: 0px 5px ;
    background: white;
    text-align: left;
}

textarea:focus ~ label,textarea:valid ~ label, input:focus ~ label, input:valid ~ label{
    top: -12px ;
}
textarea {
    height: 140px;
    max-height: 170px;
    max-width: 395px;
    min-width: 200px;
    min-height: 70px;
}
/* 
input[type="email"]:invalid ~ label{
    top: -11px;
    color: red;
}
*/
form .btn{
    padding: 24px 100px 26px;
    color: #171718;
    margin: 0px auto;
    margin-top: 170px;
    font-size: 18px;
    border: 0px;
    width: 70px;
    height: 14px;
    box-sizing: content-box;
    transform: scale(0.93);
    cursor: pointer;
    box-shadow: 0px 2px 13px rgb(233, 180, 5);
}
form .btn:hover{
    transform: scale(1);
    color: white;
    background: turquoise;
    box-shadow: 0px 1px 6px rgba(45, 171, 255, 0.726);
}
.contact form:nth-child(3){
    transform: scale(0.9);
    position: absolute;
    top: 55px;
    opacity: 0.7;
    right: 85px;
    z-index: 2;
}
footer{
    background:url(../img/bg_footer.png) no-repeat top center / cover;
    height: 395px;
    margin-top: 120px;
    color: white;
}
footer h4{
    font-family: "gilroy", sans-serif;
    font-size: 45px;
}
footer nav {
    display: flex;
    padding-top: 200px;
    align-content: center;
    justify-content: space-between;
}
footer a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 19px;
}
footer .links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 195px;
}
footer .icon {
	background: #6f7efd;
	width: 40px;
	height: 40px;
	display: inline-grid;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
    cursor: pointer;
}
.icon:hover{
    background: #00dadc;
}
footer p{
    text-align: center;
    margin-top: 80px;
    
}

@media screen and (max-width:1440px){
    .container{
        width: 1150px;
    }
    header .d-flex img{
        transform: scale(0.6) !important;
        margin-left: -150px;
    }
    header .d-flex{
        margin: 0;
    }
    .about .d-flex img{
        margin-right: 40px;
    }
    .services .cards{
        display: block;
        width: 360px;
        overflow: auto;
        height: 900px;
    }
    .services  .card{
        margin: 20px auto;
    }
    .card:nth-child(2),  .card:nth-child(3), .card:nth-child(4){
        top: 0 !important;
        position: relative;
    }
    .contact .text{
        width: 45%;
        margin-right: 220px;
        margin-top: 190px;
    }
    .form{
        transform: scale(0.94);
    }
    .form:nth-child(3){
        transform: scale(0.85);
    }
    .contact form, .contact form:nth-child(3){
        position: absolute;
        right: 0;
    }
    .contact .text{
        margin-right: 0px;
    }
}
@media screen and (max-width:1199px){
    .container{
        width: 960px;
    }
    header .d-flex img{
        transform: scale(0.85) !important;
        margin-left: -400px;
        opacity: 0.3;
    }
    .about .d-flex{
        display: grid !important;
        margin-top: -200px !important;
    }
    .about .d-flex img{       
        transform: scale(0.8);
        margin: 0px auto;
        margin-top: -80px;
    }
    .about .d-flex .text{     
        margin: 0;
    }
    section .text{
        text-align: center;
    }
    section p{
        width: 100%;
    }
    .services .text {
        margin-right: 50px;
    }
    .contact form{ 
        transform: scale(0.8);
    }
    .contact form:nth-child(3){
        transform: scale(0.6);
    }
    .contact .d-flex img{
        top: -90px;
    }

}
@media screen and (max-width:991px){
    .container{
        width: 720px;
    }
    ul.menu{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        top: -200px;
        background: #009597;
        padding: 55px 30px;
        width: 100%;
        left: -50px;
    }
    header .d-flex img{
        transform: scale(0.75) !important;
        margin: 0px auto;
        opacity: 0.3;
        position: absolute;
    }
    .services{
        height: auto;
    }
    .services .text {
        width: 100%;
        margin: 0;
    }
    .services .d-flex{
        display: block;
    }
    .services .cards{
        margin: 0px auto;
        width: 623px;
        flex-wrap: wrap;
        display: grid;
        grid-gap: 170px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 0fr));
        margin-top: 80px;
    }
    .card:nth-child(2) {
        top: 0;
    }
    .card:nth-child(3), .card:nth-child(4) {
        margin-bottom: 300px;
        margin-top: -130px;
    }
    .menu_open{
        display: block !important;
    }
    .feedback {
        margin-top: 400px;
        height: 800px;
    }
    .feedback .feedback_lists{
        margin-top: 0;
        width: auto;
        transform: scale(0.7);
    }
    .contact{
        height: 1000px;
    }
    .contact .d-flex{
        display: block;
    }
    .contact .text{
        width: 100%;
        margin-top: 90px;
    }
    .contact form{
        position: relative;
        margin: 0px auto;
        margin-top: -90px;
    }
    .contact form:nth-child(3){
        margin: 0px auto;
        margin-top: -620px;
        position: relative;
        top: 0;
        right: 0;
        transform: scale(0.7);
        opacity: 0.6;
    }
    .contact .d-flex img{
        position: absolute;
        right: 0px;
        top: -150px;
        z-index: -1;
        top: 300px;
    }
}
@media screen and (max-width:767px){
    .container{
        width: 540px;
    }
    ul.menu{
        left: 0;
        padding-left: 10px;
        padding-right: 160px;
        width: -moz-available;
        justify-content: inherit;
    }
    .menu li{
        text-align: center;
    }
    header{
        height: 1070px;
    }
    header .text, header h1{
        width: 100%;
    }
    header .d-flex img{
        transform: scale(0.55) !important;
        margin: 0px auto;
        opacity: 0.2;
        left: -60px;
        bottom: 140px;
    }
    .about .d-flex{
        margin-top: -130px !important;
    }
    .about .d-flex img{
        margin: 0px auto;
        width: 440px;
        transform: inherit;
        height: inherit;
    }
    section.about img.elements{
        right: -130px;
        top: -280px;
        position: absolute;
        transform: scale(0.4);
    }
    .services {
        margin-top: -200px;
    }
    .cards{
        margin: 0;
        display: flex;
        grid-gap: unset;
        grid-template-columns: unset;
        margin-top: 80px;
        flex-direction: unset;
        width: 100%;
    }
    .card{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        
        align-content: space-between;
    }
    .card img{
        height: 90%;
    }
    .card h6,.card p{
        width: 50%;
    }
}
@media screen and (max-width:575px){
    .container{
        width: 90%;
    }
    
}